// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: #ecf3f7;
    height: 100vh;
    font-size: 1rem;
}
a {
    color: #30a681;
}
#redazione {
    height: 100vh;
}
.constraint {
    max-width: 1100px;
    margin: 0 auto;
}
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.highlight{
    color: #fefeff;
    background:#3490dc;
    padding: 1px 5px;
    border-radius: 50px;
}
.highlight-confirm{
    color: #0b9b47;
}
.highlight-error{
    background-color: #bb1414;
}
.modal-body{
    overflow: hidden;
}
.logo {
    width: 150px;
    margin: auto;
}
.logo img {
    width: 100%;
}
#noleggio {
    display: flex;
    width: 100%;
    align-items: stretch;
    overflow: hidden;
    height: 100vh;
}
.switch {
    transition:opacity .3s,transform .3s;
    transform:translateY(-450px);
    opacity:0;
}
.switch.is-active {
    transform:translateY(0);
    opacity:1;
}
.complited-msg{
    position: absolute;
    top: 0px;
    padding: 30px;
    width: 100%;
    text-align: center;
    margin: 0 -16px;
}
.description-txt {
    color: #666;
}
/*--- BUTTON ---*/
    .btn-info,
    .btn-primary,
    .btn-secondary,
    .btn-danger,
    .btn-success
    /*,.btn-warning*/
    {
        color: #fff !important;
    }
    .btn-info {
        background:#3490dc;
    }
    .btn-light{
        border-color:#a8abae;
    }
    .btn.add {
        background: #af6919;
        border-color:#af6919;
        &:hover{
            background: #8c5617 !important;
        }
        &:active,
        &:focus{
            background: #ce8f48 !important;
            border-color:#ce8f48 !important;
        }
    }
    .btn.confirm {
        background-color: #30a681;
    }
/*--- SIDEBAR ---*/
    #sidebar {
        padding-top:55px;
        width: 42px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        overflow: hidden;
        z-index: 10;
        background: #30a681;
        color: #fff;
        margin-left: 0px;
        transition: all 0.3s;
        &.active{
            width: 135px;
        }
    }
    .menu {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
    }
    .menu li{
        line-height: 1.2;
        height: 40px;
        cursor: pointer;
        position: relative;
    }
    .menu a {
        color: #fff;
        width: 100%;
        display: inline-block;
        padding: 11px 14px;
        &:hover{
            color: #f0f8ff;
        }
        &.active{
            background-color: #af6919;
        }
    }
    .menu li span {
        position: absolute;
        left: 42px;
    }
    a[data-toggle="collapse"] {
        position: relative;
    }
    @media (max-width: 768px) {
        #sidebar {
            padding-top: 94px !important;
            width: 0px;
        }
        #content {
            top: 85px !important;
            padding-left: 0 !important;
        }
        #sidebar.active {
            width: 135px;
        }
        #content.active {
            padding-left: 135px !important;
        }
    }
    #sidebarCollapse {
        position: absolute;
        z-index: 21;
        left: 0;
        top: 10px;
        background-color: transparent;
        border-color: transparent;

    }
    .fa-align-left {
        color: #30a681 !important;
    }
/*--- HEADER ---*/
    header {
        position: fixed;
        width: 100%;
        top:0;
        z-index: 20;
    }
/*--- CONTENT ---*/
    #content {
        position: relative;
        top: 56px;             
        overflow: auto;
        height: 88%;
        width: 100%;
        display: inline-table;
        transition: all 0.3s;        
    }
/*--- Breadcrumb ---*/   
    .breadcrumbs li {
        text-transform: uppercase;
        padding: 0;
        margin: 0;
            margin-right: 0px;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 300;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
/*--- HOME ---*/
    .slider {
        max-height: 200px;
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100%;
        top: 0px;
    }
    .slider img {
        filter: brightness(70%) opacity(90%) grayscale(10%) contrast(110%);
        width: 100%;
    }
    .slider-text{
        color:#fff;
        position: absolute;
        top: 0;
        padding-top: 40px;
        position: relative;
        padding-bottom: 120px;
    }
/*--- BLOG ---*/
    .blog .info,
    .article .info {
        font-size: 1.0em;
    }
    .blog .info > i,
    .article .info > i {
        margin-right: 5px;
        font-size: 1.4em;
    }
    
/*---ARTICLE---*/
    article img {
        width: 100%;
    }
    .article aside > div {
        background-color: #fff;
    }
    .gestione .stato > div {
        color:#9d9d9d;
        background:#f8f9fa;
    }
    .inviata.active > div {
        color: #fff;
        background-color: #af6919;
    }
    .approvata.active > div {
        color: #fff;
        background-color: #30a681;
    }    
    .article .content .info {
        margin-bottom: 20px;
    }
    .article .content .info > div{  
        float: left;
        font-size: 1.0em;
    }
    .article .content .info > div div.title{
        text-transform: uppercase;
    }
    .article .content .info i{    
        font-size: 2.5em;
        margin-right: 15px;
    }
    .blog .img-loader,
    .article .img-loader {
        width: 45px;
        height: 45px;
        right: inherit;
        bottom: inherit;
    }
/*--- FOOTER ---*/
    footer {
        position: relative;
        color:#cbcdce;        
        bottom: -56px;
        width: 100%;
        display: inline-table;
        background-color: #31383d;       
        z-index: 0; 
        transition: all 0.3s;
    }
/*--- LOGIN ---*/
.login-modal .modal-content {
    border-radius: 0;
}
#login .form-group i {
    position: absolute;
    left: 27px;
    top: 12px;
    z-index: 3;
}
#login .form-group input {
    padding-left: 35px;
}
/*--- ERROR DIV ---*/
.error-div {
    color:red;
    font-size: 0.8em;
    margin: 2px 0 0 5px;
}
/*--- Search-field ---*/
    .search-field{
        display: inline-block;
        position: relative;
    }
    .search-list{
        position: absolute;
        background:#fff;
        z-index: 1;
        width: 100%;
    }
    .info-search{
        position: absolute;
        color: #666;
        font-size: 0.8em;
        bottom: 9px;
        right: 29px;
    }
    .search-list li {
        &:hover{
            background-color: #eee;
            cursor: pointer;
        }
    }
    .search-field .btn-clear{
        position: absolute;
        right: 4px;
        bottom: 5px;
        display: none;
        padding: 2.1px 7.5px;
    }
    .btn-clear {
        color:#666;
        cursor: pointer;
        &.active{
            display: block;
        }
    }
/*--- LOAD --- */
.img-loader {
    width: 27px;
    height: 27px;
    display: none;
    position: absolute;
    right: 4px;
    bottom: 6.5px;
    &.active{
        display: inline-block;
    }
}
.pt-vendita .loader-2 {
    filter: invert(50%);
    width: 25px;
    margin-top: 6px;
    height: 25px;
    padding: 0;
}
.loader-2 {
    display: none;
    width:32px;
    padding:0 10px 0 4px;
    right:0;
    margin-right:-15px;
    position:relative;
}
.img-loader img,
.loader-2 img {
    width: 100%;
}
.loader-3 {
    right: 45%;
    width: 50px;
    height: 50px;
    bottom: -15px;
    margin-bottom: 20px;
}

/*--- TABLE ---*/
.table tbody tr{
    &.active{
        background-color: #a8c7e6 !important;
    }
    &:hover{
        background-color: #e7eff7;
        cursor: pointer;
    }
}
    /*-- VIDEO --*/
    .bar {
        text-align: center;
        padding: 5px 14px 4px;
        border-radius: 20px;
        color: #fff;
        display: inline-block;
        margin: auto;
    }
    .bar.more{
        background-color: #67e145;
    }
    .bar.half{
        background-color: #e1ba45;
    }
    .bar.less{
        background-color: #e17845;
    }
    .img-video {
        width: 80px;
        display: inline-block;
        margin: 0 25px 0 0;
        height: 90px;
        overflow: hidden;
        vertical-align: middle;
    }
    .img-video img {
        width: 100%;
        border-radius: 5px;
        height: 100%;
        object-fit: cover;
    }
.more-info-table > div {
    cursor: pointer;
    color: #333;
    font-weight: 600;
    &.disable{
        cursor: inherit;
        color: #aaa;
        &:hover{
            color: #aaa;
        }
    }
    &:hover{
        color: #666;
    }
    &:active{
        color: #111;
    }
}
.more-info-table span {
    color: #3490dc;
}
.more-info-table .btn-clear {
    font-size: 1.2em;
}
/*--- PRIVACY FILE ---*/
.privacy-file i {
    font-size: 1.3em;
    color: red;
}
/*--- INCASSI --- */
.incassi .info{
    font-size: 2em;
    line-height: 1em;
}
.incassi i {
    font-size: 2.5em;
}
.incassi .card {
    background: #35aaae;
    color:#fff;
}
.incassi hr {
    background-color: #fff;
}
/*--- CHART ---*/
.rv-xy-plot{
    position: relative;
}
.rv-xy-plot__grid-lines__line {
    stroke: #e6e6e9;
}

@media (max-width: 1150px) {
    .logged .logo{
        margin-left: 26px;
    }
    #content.logged{
        padding-left: 42px;
        &.active{
            padding-left: 135px !important;
        }
    }
    footer.logged{
        padding-left: 45px !important;

        &.active{
            padding-left: 135px !important;
        }
    }
}